*body{
     box-sizing: border-box ;
}
.vd{
     width:  120px;height: 120px;
     border-top: 10px solid blue;
     border-left: 3px solid blue;
     border-right: 3px solid blue;
     border-radius:30px 5px 30px 5px;
     border-bottom: 3px dashed orange;
     background-color: yellow;
     padding: 10px;
     box-sizing: border-box;
}
body {
     display: flex;
}

.box {
     width: 120px;
     height: 120px;
     padding: 10px;
     box-sizing: border-box;
     border-radius: 10px;
     background-color: red;
     margin: 0 10px; /* khoảng cách giữa hai box */
}
.contai{
     display: flex;
     flex-direction: column;
     align-items: center;
}
#vd3.vd{
     margin-left: auto;
     display: flex;
     flex-direction: row;
}